
  /* Gallery Section Styles */
  #gallery {
    background-image: url('../assets/img/home-footer-lines.png'); /* Set the background image */
    background-size: cover;
    background-position: center;
    background-color: #0f0e0e; /* Change text color to white for better visibility */
    padding: 50px 0; /* Adjust padding as needed */
}

  #gallery h2 {
    text-align: center;
    color: #ffffff;
  }

  #imageCarousel {
    max-width: 800px;
    margin: 0 auto;
    
  }

  .carousel-indicators li {
    background-color: #777;
    border: 1px solid #ddd;
  }

  .carousel-indicators li.active {
    background-color: #D00000; /* Active indicator color */
  }

  .carousel-inner {
    text-align: center;
  }

  .carousel-inner img {
    max-height: auto;
    margin: 0 auto;
    border-radius: 10px;
  }

