/* Custom CSS for Event Cards */
.event-card {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 20rem;
  }
  
  .event-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .event-card .card-text {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .event-card .btn-warning {
    background-color: #FF6F00;
    color: #fff;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .event-card .btn-warning:hover {
    background-color: #FF8C00;
  }
  
  /* Customize the styling for the date and location */
  .event-card .event-details {
    display: flex;
    align-items: center;
  }
  
  .event-card .event-details i {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.2rem;
  }
  

  /* Styles for the About section content */
#about {
  background-color: #f7f7f7;
  padding: 40px 0;
}

#speakers{
  background-color: #f7f7f7;
  padding: 40px 0;
}

.v-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.v-card:hover {
  transform: scale(1.05);
}

.google-font {
  font-family: 'Arial', sans-serif; /* Replace with your desired font */
  color: #333;
}

/* Styles for different screen sizes */
@media (max-width: 576px) {
  .v-card {
    margin-top: 20px;
  }
  .v-card p {
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .v-card {
    margin-top: 20px;
  }
  .v-card p {
    font-size: 18px;
  }
}

/* Speakers Section Styles */
#speakers {
  text-align: center;
  padding: 40px 0;
}

.speaker-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.speaker {
  margin: 20px;
  width: 12em;
  padding: 20px;
  text-align: center;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.speaker img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.436);
}

.speaker h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #f4f4f4;
}

.speaker p {
  font-size: 15px;
  color: #f4f4f4;
}
  
/* Animation */
.hero-container {
  position: relative;
  height: 100vh;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

canvas {
  position: absolute;
  z-index: 1;
}
